<!DOCTYPE html>
<html lang="en">

 <head><title></title>
    {% include 'include.html' %}
    {% load static %}
</head>

<body>
    {% include 'adminnav.html' %}
    <div id="wrapper">
        {% include 'reception_nav.html' %}
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
                <h2 class="text-center">UPCOMING APPOINTMENTS</h2>
                <div class="text-center" role="tablist" id="accordion-1">
                    {% for i in upcomming_appointments %}
                    <ul class = "collapsible popout text-center" data-collapsible = "accordion">
                        <li class="card">
                            <div class = "card-header collapsible-header">
                                <h5 style="color:blue;"><a><i class="fa fa-calendar-check-o"></i>  {{ i.patientname }} appointment with {{ i.doctorname }} on {{i.appointmentdate}}</a></h5>
                            </div>
                            <div class = "card-body collapsible-body">
                                <table align="center" class="card-text" style="font-size: 19px;"> <caption></caption>
                                    <tr>
                                        <th id="40" >Doctor Name:</th>
                                        <td>{{i.doctorname}}</td>
                                    </tr>
                                    <tr>
                                        <th id="41"> Patient Name:</th>
                                        <td>{{i.patientname}}</th>
                                    </tr>
                                    <tr>
                                        <th id="42">Appointment Date:</th>
                                        <td>{{i.appointmentdate}}</td>
                                    </tr>
                                    <tr>
                                        <th id="43">Appointment Time:</th>
                                        <td>{{i.appointmenttime}}</td>
                                    </tr>
                                    <tr>
                                        <th id="44">Symptoms:</th>
                                        <td>{{i.symptoms}}</td>
                                    </tr> 
                                </table>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                <h2 class="text-center">PREVIOUS APPIONTMENTS</h2>
                <div class="text-center" role="tablist" id="accordion-2">
                    {% for j in previous_appointments %}
                    <ul class = "collapsible popout text-center" data-collapsible = "accordion">
                        <li class="card">
                            <div class = "card-header collapsible-header">
                                <h5 style="color:blue;"><a><i class="fa fa-calendar-check-o"></i>  {{ j.patientname }} appointment with {{ j.doctorname }} on {{j.appointmentdate}}</a></h5>
                            </div>
                            <div class = "card-body collapsible-body">
                                <table align="center" class="card-text" style="font-size: 19px;"> <caption></caption>
                                    <tr>
                                        <th id="45">Doctor Name:</th>
                                        <td>{{j.doctorname}}</td>
                                    </tr>
                                    <tr>
                                        <th id="46">Patient Name:</th>
                                        <td>{{j.patientname}}</td>
                                    </tr>
                                    <tr>
                                        <th id="47">Appointment Date:</th>
                                        <td>{{j.appointmentdate}}</td>
                                    </tr>
                                    <tr>
                                        <th id="48">Appointment Time:</th>
                                        <td>{{j.appointmenttime}}</td>
                                    </tr>
                                    <tr>
                                        <th id="49">Symptoms:</th>
                                        <td>{{j.symptoms}}</td>
                                    </tr> 
                                </table>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>

</html>